.search-list-container {
  .header,
  .item-list {
    .makt_props-makt_maktx {
      width: 30%;
    }

    .knb1_props-knb1_bukrs,
    .knvk_props-knvk_namev {
      width: 25%;
    }

    .list-row {
      &.bucket_0 {
        color: #fffafa;
        background: #29d274;
      }

      &.bucket_1 {
        color: #fffafa;
        background: #ca9a0b;
      }
    }
  }
}
